<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {% if page.description %}
    <meta name="Description" content="{{ page.description }}">
    {% endif %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script>
    if (window.location.host === 'about.parallelmarkets.com') {
      window._pmAnalyticsConfig = {
        segment_key: 'FsZOMatHS0d0uzap67Vjcic5sR0GAr1j',
        auto_track_pageview: true,
        code_name: 'Parallel About Site',
        code_version: 'production'
      };
    }
    </script>
    <script async src="https://web.pm-metrics.com/prod/parallel-analytics.js"></script>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Parallel Markets</h1>
      <h2 class="project-tagline">Company Resources</h2>
      <a href="/handbook" class="btn">Employee Handbook</a>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
